# Namų darbai 1

1\. Deklaruoti list tipo duomenį, gauti jo ilgį, pridėti naują elementą

In [4]:
list_1 = [1,5,1]

print( len( list_1 ) )

list_1.append( 10 )
print(list_1)
list_1 = list_1 + [100]
print (list_1)

3
[1, 5, 1, 10]
[1, 5, 1, 10, 100]

2\. Patikrinti ar elementas yra jūsų sąraše. Naudoti raktažodį in

In [6]:
print (1 in list_1)
print (50 in list_1)

True
False

In [10]:
1 in list_1
list_1

[1, 5, 1, 10, 100]

3\. Sudėti du list’us, išimti paskutinį narį iš sudėto listo, išrikiuoti list’ą, suskaičiuoti kiek yra kokios nors reikšmės įvesčių list’e

In [14]:
list_1 = [1,5,1]
list_2 = [10,50,12]

combined = list_1 + list_2
print(combined)
combined.pop()
print(combined)
combined.sort()
print(combined)
print(combined.count(1) )

[1, 5, 1, 10, 50, 12]
[1, 5, 1, 10, 50]
[1, 1, 5, 10, 50]
2

# Namų darbai 2

1\. Gaukite visas įmanomas kombinacijas iš pateiktų sąrašų tik tada, jei diena yra arba pirmadienis arba trečiadienis, o valandos yra nuo 12 iki 17, įrašykite jas į list’ą

In [15]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    if diena == 'Pirmadienis' or diena == 'Treciadienis':
        for valanda in valandos:
            if valanda in range(12,18):
                kombinacijos.append( (diena, valanda) )

print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

In [16]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

tinkamos_dienos = [ 'Pirmadienis', 'Treciadienis', '' ]
tinkamos_valandos = range(12,18) # [ 12, 13, 14, 15, 16, 17 ]

kombinacijos = []

for diena in dienos:
    if diena in tinkamos_dienos:
        for valanda in valandos:
            if valanda in tinkamos_valandos:
                kombinacijos.append( (diena, valanda) )

print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

2\. Iš pirmų 100 skaičių, jeigu skaičius dalinasi iš 2 be liekanos, atspausdinkite ‘Fizz’, jeigu skaičius dalinasi iš 3 be liekanos atspausdinkite ‘Buzz’, jei skaičius dalinasi iš 2 ir 3 be liekanos, atspausdinkite ‘FizzBuzz’

In [ ]:
for i in range(1,101):
    if i % 2 == 0:
        print (f' {i} - Fizz')
    elif i % 3 == 0:
        print (f' {i} - Buzz')
    elif i % 2 == 0 and i % 3 == 0:
        print (f' {i} - FizzBuzz')
    else:
        print (f' {i} -')

In [ ]:
for i in range(1,101):
    if i % 2 == 0 and i % 3 == 0:
        print (f' {i} - FizzBuzz')
    elif i % 2 == 0:
        print (f' {i} - Fizz')
    elif i % 3 == 0:
        print (f' {i} - Buzz')
    else:
        print (f' {i} -')

In [19]:
for i in range(1,101):
    message = f'{i} - '
    if i % 2 == 0:
        message += 'Fizz'
    if i % 3 == 0:
        message += 'Buzz'
    print(message)

1 -
2 - Fizz
3 - Buzz
4 - Fizz
5 -
6 - FizzBuzz
7 -
8 - Fizz
9 - Buzz
10 - Fizz
11 -
12 - FizzBuzz
13 -
14 - Fizz
15 - Buzz
16 - Fizz
17 -
18 - FizzBuzz
19 -
20 - Fizz
21 - Buzz
22 - Fizz
23 -
24 - FizzBuzz
25 -
26 - Fizz
27 - Buzz
28 - Fizz
29 -
30 - FizzBuzz
31 -
32 - Fizz
33 - Buzz
34 - Fizz
35 -
36 - FizzBuzz
37 -
38 - Fizz
39 - Buzz
40 - Fizz
41 -
42 - FizzBuzz
43 -
44 - Fizz
45 - Buzz
46 - Fizz
47 -
48 - FizzBuzz
49 -
50 - Fizz
51 - Buzz
52 - Fizz
53 -
54 - FizzBuzz
55 -
56 - Fizz
57 - Buzz
58 - Fizz
59 -
60 - FizzBuzz
61 -
62 - Fizz
63 - Buzz
64 - Fizz
65 -
66 - FizzBuzz
67 -
68 - Fizz
69 - Buzz
70 - Fizz
71 -
72 - FizzBuzz
73 -
74 - Fizz
75 - Buzz
76 - Fizz
77 -
78 - FizzBuzz
79 -
80 - Fizz
81 - Buzz
82 - Fizz
83 -
84 - FizzBuzz
85 -
86 - Fizz
87 - Buzz
88 - Fizz
89 -
90 - FizzBuzz
91 -
92 - Fizz
93 - Buzz
94 - Fizz
95 -
96 - FizzBuzz
97 -
98 - Fizz
99 - Buzz
100 - Fizz

3\. Leiskite vartotojui pasirinkti skaičių, jeigu įvestas skaičius yra daugiau arba lygus 10, atspausdinkite visus skaičius nuo 1 iki pateikto skaičiaus, kurie dalinasi iš 5 su liekana

In [22]:
pasirinktas_skaicius = int( input('iveskite skaiciu') )

if pasirinktas_skaicius >= 10:
    for i in range(1, pasirinktas_skaicius + 1):
        if i % 5 != 0:
            print(i)
else: 
    print (f'skaicius {pasirinktas_skaicius} mazesnis uz 10')

1
2
3
4
6
7
8
9
11
12
13
14

4\. Koks yra sąrašo ilgis sudaryto iš pateiktų sąrašų kombinacijų, jeigu norime rasti visas įmanomas reikšmes? Išrikiuokite sąrašą nuo didžiausios iki mažiausios reikšmės (teks atlikti papildomų veiksmų tam atlikti teisingai, naudoti viena iš 3 narių rikiavimui)

In [26]:
a = ['1','2','3','4','5']
b = ['labas', 'vakaras', 'kokia grazi diena', 'siandien uz lango', '10 laipsniu silumos']
c = ['100', '200', 40, 10, 500]

c[0] = int(c[0])
c[1] = int(c[1])

kombinacijos = []
for pirmas in a:
    for antras in b:
        for trecias in c:
            kombinacijos.append( (pirmas, antras, trecias) )
# print(kombinacijos)

sorted(kombinacijos, key=lambda x: x[2], reverse=True)

[('1', 'labas', 500),
 ('1', 'vakaras', 500),
 ('1', 'kokia grazi diena', 500),
 ('1', 'siandien uz lango', 500),
 ('1', '10 laipsniu silumos', 500),
 ('2', 'labas', 500),
 ('2', 'vakaras', 500),
 ('2', 'kokia grazi diena', 500),
 ('2', 'siandien uz lango', 500),
 ('2', '10 laipsniu silumos', 500),
 ('3', 'labas', 500),
 ('3', 'vakaras', 500),
 ('3', 'kokia grazi diena', 500),
 ('3', 'siandien uz lango', 500),
 ('3', '10 laipsniu silumos', 500),
 ('4', 'labas', 500),
 ('4', 'vakaras', 500),
 ('4', 'kokia grazi diena', 500),
 ('4', 'siandien uz lango', 500),
 ('4', '10 laipsniu silumos', 500),
 ('5', 'labas', 500),
 ('5', 'vakaras', 500),
 ('5', 'kokia grazi diena', 500),
 ('5', 'siandien uz lango', 500),
 ('5', '10 laipsniu silumos', 500),
 ('1', 'labas', 200),
 ('1', 'vakaras', 200),
 ('1', 'kokia grazi diena', 200),
 ('1', 'siandien uz lango', 200),
 ('1', '10 laipsniu silumos', 200),
 ('2', 'labas', 200),
 ('2', 'vakaras', 200),
 ('2', 'kokia grazi diena', 200),
 ('2', 'siandien uz lango', 200),
 ('2', '10 laipsniu silumos', 200),
 ('3', 'labas', 200),
 ('3', 'vakaras', 200),
 ('3', 'kokia grazi diena', 200),
 ('3', 'siandien uz lango', 200),
 ('3', '10 laipsniu silumos', 200),
 ('4', 'labas', 200),
 ('4', 'vakaras', 200),
 ('4', 'kokia grazi diena', 200),
 ('4', 'siandien uz lango', 200),
 ('4', '10 laipsniu silumos', 200),
 ('5', 'labas', 200),
 ('5', 'vakaras', 200),
 ('5', 'kokia grazi diena', 200),
 ('5', 'siandien uz lango', 200),
 ('5', '10 laipsniu silumos', 200),
 ('1', 'labas', 100),
 ('1', 'vakaras', 100),
 ('1', 'kokia grazi diena', 100),
 ('1', 'siandien uz lango', 100),
 ('1', '10 laipsniu silumos', 100),
 ('2', 'labas', 100),
 ('2', 'vakaras', 100),
 ('2', 'kokia grazi diena', 100),
 ('2', 'siandien uz lango', 100),
 ('2', '10 laipsniu silumos', 100),
 ('3', 'labas', 100),
 ('3', 'vakaras', 100),
 ('3', 'kokia grazi diena', 100),
 ('3', 'siandien uz lango', 100),
 ('3', '10 laipsniu silumos', 100),
 ('4', 'labas', 100),
 ('4', 'vakaras', 100),
 ('4', 'kokia grazi diena', 100),
 ('4', 'siandien uz lango', 100),
 ('4', '10 laipsniu silumos', 100),
 ('5', 'labas', 100),
 ('5', 'vakaras', 100),
 ('5', 'kokia grazi diena', 100),
 ('5', 'siandien uz lango', 100),
 ('5', '10 laipsniu silumos', 100),
 ('1', 'labas', 40),
 ('1', 'vakaras', 40),
 ('1', 'kokia grazi diena', 40),
 ('1', 'siandien uz lango', 40),
 ('1', '10 laipsniu silumos', 40),
 ('2', 'labas', 40),
 ('2', 'vakaras', 40),
 ('2', 'kokia grazi diena', 40),
 ('2', 'siandien uz lango', 40),
 ('2', '10 laipsniu silumos', 40),
 ('3', 'labas', 40),
 ('3', 'vakaras', 40),
 ('3', 'kokia grazi diena', 40),
 ('3', 'siandien uz lango', 40),
 ('3', '10 laipsniu silumos', 40),
 ('4', 'labas', 40),
 ('4', 'vakaras', 40),
 ('4', 'kokia grazi diena', 40),
 ('4', 'siandien uz lango', 40),
 ('4', '10 laipsniu silumos', 40),
 ('5', 'labas', 40),
 ('5', 'vakaras', 40),
 ('5', 'kokia grazi diena', 40),
 ('5', 'siandien uz lango', 40),
 ('5', '10 laipsniu silumos', 40),
 ('1', 'labas', 10),
 ('1', 'vakaras', 10),
 ('1', 'kokia grazi diena', 10),
 ('1', 'siandien uz lango', 10),
 ('1', '10 laipsniu silumos', 10),
 ('2', 'labas', 10),
 ('2', 'vakaras', 10),
 ('2', 'kokia grazi diena', 10),
 ('2', 'siandien uz lango', 10),
 ('2', '10 laipsniu silumos', 10),
 ('3', 'labas', 10),
 ('3', 'vakaras', 10),
 ('3', 'kokia grazi diena', 10),
 ('3', 'siandien uz lango', 10),
 ('3', '10 laipsniu silumos', 10),
 ('4', 'labas', 10),
 ('4', 'vakaras', 10),
 ('4', 'kokia grazi diena', 10),
 ('4', 'siandien uz lango', 10),
 ('4', '10 laipsniu silumos', 10),
 ('5', 'labas', 10),
 ('5', 'vakaras', 10),
 ('5', 'kokia grazi diena', 10),
 ('5', 'siandien uz lango', 10),
 ('5', '10 laipsniu silumos', 10)]

# List comprehension

In [27]:
numbers = list(range(1,21) )
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
        # print(number)
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [28]:
dividible_by_3 = [ number for number in numbers if number % 3 == 0 ]
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [30]:
dividible_by_3 = [ number * 10 for number in numbers if number % 4 == 0 ]
print (dividible_by_3)

[40, 80, 120, 160, 200]

In [32]:
dividible_by_3 = [ number if number % 3 ==0 else f'{number} nesidalina is 3' for number in range(1,21) ]
print(dividible_by_3)

['1 nesidalina is 3', '2 nesidalina is 3', 3, '4 nesidalina is 3', '5 nesidalina is 3', 6, '7 nesidalina is 3', '8 nesidalina is 3', 9, '10 nesidalina is 3', '11 nesidalina is 3', 12, '13 nesidalina is 3', '14 nesidalina is 3', 15, '16 nesidalina is 3', '17 nesidalina is 3', 18, '19 nesidalina is 3', '20 nesidalina is 3']

In [33]:
doubled = [ number * 2 for number in numbers]
print (doubled)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

# None a.k.a null, nill, NaN - Not a Number

In [34]:
niekas = None
print (niekas)
print(type(niekas))

None
<class 'NoneType'>

In [37]:
import random

vardas = ''

if random.random() > 0.5:
    vardas = input('Iveskite vardą:')

if vardas != '':
    print(f'Sveikas {vardas}!')

In [42]:
import random

vardas = None

if random.random() > 0.5:
    vardas = input('Iveskite vardą:')

if vardas != None and vardas != '':
    print(f'Sveikas {vardas}!')
elif vardas != None and vardas == '':
    print(f'Nepavyko nuskaityti jusu vardo. Bandykite dar karta')
else:
    print('Jus nenurodete savo vardo')

Sveikas Darius!

In [45]:
list_1 = [1]
print( list_1.append(100) )
print( list_1 )
print( list_1.count(1) )

None
[1, 100]
1

# Dictionary

In [46]:
me = {
    'vardas': 'Darius',
    'pavarde': 'Grigaliunas',
    'amzius': 27
}
print(me)

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27}

In [47]:
me[0]

KeyError: 0

In [55]:
me['neegzistuojantis_raktas']

KeyError: 'neegzistuojantis_raktas'

In [50]:
print(me[ 'vardas' ])
print(me[ 'pavarde' ])
print(me[ 'amzius' ])

Darius
Grigaliunas
27

In [51]:
me[ 'miestas' ] = 'Vilnius'
print( me )

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius'}

In [52]:
me[ 'hobiai' ] = ['tenisas', 'dviraciai']
print( me )

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}

In [54]:
someone = {
    True: 'tiesa',
    False: 'netiesa',
    None: 'none verte'
}
print ( someone[True] )
print ( someone[False] )
print ( someone[None] )

tiesa
netiesa
none verte

In [60]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50},
    {'vardas': 'Mantas', 'amzius': 40}
]
print(zmones)
print( zmones[0] )
print( zmones[0]['vardas'] )

print('for loop')
for zmogus in zmones:
    print( zmogus['vardas'] )

[{'vardas': 'Jonas', 'amzius': 35}, {'vardas': 'Petras', 'amzius': 50}, {'vardas': 'Mantas', 'amzius': 40}]
{'vardas': 'Jonas', 'amzius': 35}
Jonas
for loop
Jonas
Petras
Mantas

In [61]:
print(me)
print( len(me) )

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
5

In [65]:
me = {'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
print (me)
print (me.pop('amzius') )
print (me)
del me['miestas']
print (me)

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
27
{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'hobiai': ['tenisas', 'dviraciai']}

## DICTIONARY IS MUTABLE. BE CAREFULL

look at lesson 3

In [67]:
print (me)

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'hobiai': ['tenisas', 'dviraciai']}

In [69]:
# me.clear()
me = {'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
print( me.popitem() )
print (me)
print( me.popitem() )
print (me)

('hobiai', ['tenisas', 'dviraciai'])
{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius'}
('miestas', 'Vilnius')
{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27}

In [74]:
me = {'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}

# me['neegzistuojantis_raktas'] # klaida
print (me.get('neegzistuojantis_raktas') ) # nera klaidos
print (me.get('neegzistuojantis_raktas', 'nerastas') )
print (me.get('neegzistuojantis_raktas', 0) )

print (me.get('amzius', 0) )

None
nerastas
0
27

In [76]:
me = {'vardas': 'Darius', 'pavarde': 'Grigaliunas'}
updated_info = {'vardas': 'Tomas', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
print(me)
# me['vardas'] = updated_info['vardas']
me.update( updated_info )

print(me)

# negali buti 2 vienodi raktazodziai

{'vardas': 'Darius', 'pavarde': 'Grigaliunas'}
{'vardas': 'Tomas', 'pavarde': 'Grigaliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}

In [77]:
for value in me.values():
    print ( value)

Tomas
Grigaliunas
27
Vilnius
['tenisas', 'dviraciai']

In [79]:
# for key in me:
for key in me.keys():
    print ( key )

vardas
pavarde
amzius
miestas
hobiai

In [81]:
for key, value in me.items():
    print (f"key is '{key}' with a value of: {value}")

key is 'vardas' with a value of: Tomas
key is 'pavarde' with a value of: Grigaliunas
key is 'amzius' with a value of: 27
key is 'miestas' with a value of: Vilnius
key is 'hobiai' with a value of: ['tenisas', 'dviraciai']

https://developer.twitter.com/en/docs/twitter-api/data-dictionary/example-payloads

In [82]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

In [83]:
twitter_post["user"]

{'id': 4448809940,
 'id_str': '4448809940',
 'name': 'ayah',
 'screen_name': 'lovbyun',
 'location': 'bbh iu jjh pcy kjd dks',
 'url': 'https://curiouscat.me/baekhyun-l',
 'description': 'hi hello I love exo',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 1142,
 'friends_count': 125,
 'listed_count': 20,
 'favourites_count': 5712,
 'statuses_count': 4011,
 'created_at': 'Fri Dec 04 03:44:59 +0000 2015',
 'utc_offset': -28800,
 'time_zone': 'Pacific Time (US & Canada)',
 'geo_enabled': False,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': '000000',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_link_color': 'F58EA8',
 'profile_sidebar_border_color': '000000',
 'profile_sidebar_fill_color': '000000',
 'profile_text_color': '000000',
 'profile_use_background_image': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4448809940/1519340670',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [84]:
twitter_post[ "user" ][ 'friends_count' ]

125

In [85]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [88]:
print( car[ 'brand' ] )
print( len(car) )
car[ 'year' ] = 2022
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [90]:
car.update( {'color' : 'red', 'used' : True} )
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [ ]:
# car["color"] = ['red']
car["color"] = 'red'

In [91]:
car.pop('brand')
car['year'] = None
print(car)

{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}

In [95]:
print ('model' in car)
print ('brand' in car)
print ('red' in car)
print ('red' in car.values() )

True
False
False
True

# Set

In [96]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b','b' }
print(my_set)

{'b', 1, 2, 3, 100, 4, 'a'}

In [97]:
my_list = [100,1,2,3,4,1,1,1,1,'a','b', 'b','b']
my_list = list( set(my_list) )
print(my_list)

['b', 1, 2, 3, 100, 4, 'a']

In [98]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [100]:
print(4 in my_set)
print(5 in my_set)

True
False

In [101]:
print (len(my_set) )

7

In [105]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b','b' }
print(my_set)
my_set.add(5)
my_set.add(1)
print(my_set)
my_set.update( [111,222] )
print(my_set)

{'b', 1, 2, 3, 100, 4, 'a'}
{'b', 1, 2, 3, 100, 4, 5, 'a'}
{'b', 1, 2, 3, 4, 5, 'a', 222, 100, 111}

In [108]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b','b' }
print (my_set)
print (my_set.pop() )
print (my_set.pop() )
print (my_set)

{'b', 1, 2, 3, 100, 4, 'a'}
b
1
{2, 3, 100, 4, 'a'}

In [111]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b','b' }
print (my_set)
my_set.remove(4)
print (my_set)
# my_set.remove(4) # klaida
# print (my_set)

{'b', 1, 2, 3, 100, 4, 'a'}
{'b', 1, 2, 3, 100, 'a'}

KeyError: 4

In [112]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b','b' }
print (my_set)
my_set.discard(4)
print (my_set)
my_set.discard(4)
my_set.discard(4)
my_set.discard(4)
my_set.discard(4)
my_set.discard(4)
print (my_set)

{'b', 1, 2, 3, 100, 4, 'a'}
{'b', 1, 2, 3, 100, 'a'}
{'b', 1, 2, 3, 100, 'a'}

In [116]:
my_set_1 = {1,3,5,7}
my_set_2 = { 4,5,6,7,8,9 }

print( my_set_1.union( my_set_2 ) )
print( my_set_1.difference( my_set_2 ) )
print( my_set_2.difference( my_set_1 ) )

print( my_set_1.intersection( my_set_2 ) )

{1, 3, 4, 5, 6, 7, 8, 9}
{1, 3}
{8, 9, 4, 6}
{5, 7}

In [120]:
small_set = {2,4}
big_set = {1,2,3,4,5}

print (small_set.issubset(big_set) )
print (big_set.issubset(small_set) )
print (big_set.issuperset(small_set) )
print (small_set.issuperset(big_set) )

True
False
True
False

In [121]:
fruits = {"apple", "banana", "cherry"}
fruits.add( ("nauja_reiksme", 5) )
print(fruits)

{'apple', ('nauja_reiksme', 5), 'banana', 'cherry'}

In [123]:
fruits = {"apple", "banana", "cherry"}
fruits.discard('apple')
print (fruits)
fruits.add( 'watermelon' )
print (fruits)

{'banana', 'cherry'}
{'banana', 'cherry', 'watermelon'}

In [127]:
fruits = {"apple", "banana", "cherry"}
fruits.add( 'watermelon' )
fruits.update( ['pear', 'pineapple', 'coconut', 'tangerine', 'melon'] )
print (fruits)
fruits.discard('apple')
print (fruits)
print (len(fruits))
fruits.add( 'watermelon' )
print (fruits)
print (len(fruits))

{'banana', 'watermelon', 'tangerine', 'cherry', 'pineapple', 'apple', 'melon', 'coconut', 'pear'}
{'banana', 'watermelon', 'tangerine', 'cherry', 'pineapple', 'melon', 'coconut', 'pear'}
8
{'banana', 'watermelon', 'tangerine', 'cherry', 'pineapple', 'melon', 'coconut', 'pear'}
8