# Strings

In [2]:
name = 'Darius'
number_str = '5'

In [5]:
print ('1973'.isdigit() )
print ('1973 '.isdigit() )
print ('1973 ')
print ('1973 '.strip() )
print ('1973 '.strip().isdigit() )

True
False
1973
1973
True

### string operations

In [7]:
'Darius' + ' ' + 'Grigaliunas'

'Darius Grigaliunas'

In [8]:
'Darius' - 'i' # neveikia

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
'hi ' * 100

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [11]:
'hi ' / 100 # neveikia

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### String formating. f-string

In [20]:
name = 'Darius'
surname = 'Grigaliunas'
number = 57
# konvertuoja skaiciu i teksta: str(number)
print( name + ' ' + surname + ', nice to meet you! Your number is ' + str(number) )

# f-string
print( f'{name} {surname}, nice to meet you! Your number is {number}' )
print( f'  {name}   {surname}, nice to meet you! Your number is {number}' )
print( f'{     name        } {       surname}, nice to meet you! Your number is {number}' )
print( f'{     name        } {       surname}, nice to meet you! Your number is {number + 5 }' )

Darius Grigaliunas, nice to meet you! Your number is 57
Darius Grigaliunas, nice to meet you! Your number is 57
  Darius   Grigaliunas, nice to meet you! Your number is 57
Darius Grigaliunas, nice to meet you! Your number is 57
Darius Grigaliunas, nice to meet you! Your number is 62

# Numbers

In [22]:
number_text = '43'
number = 423

float_number = 1.5

print( type(number_text) )
print( type(number) )
print( type(float_number) )

<class 'str'>
<class 'int'>
<class 'float'>

### Operators

In [32]:
suma = number + float_number
print(suma)
print(type(suma))
print(10 - 5 )
print(10 * 5 )
print(10 / 5 )

print( 'dalybos sveikoji dalis')
print(14 // 3 ) # sveika dali
print(13 // 3 ) # sveika dali
print(12 // 3 ) # sveika dali
print(15 // 3 ) # sveika dali

424.5
<class 'float'>
5
50
2.0
dalybos sveikoji dalis
4
4
4
5

In [36]:
print( 'dalybos liekana')
print(14 % 3 ) 
print(13 % 3 ) 
print(12 % 3 ) 
print(15 % 3 )

print( 'lyginis ar ne')
print( 11 % 2 )
print( 16 % 2 )

dalybos liekana
2
1
0
0
lyginis ar ne
1
0

In [41]:
print ('kelimas laipsniu')
print( f'{2}^{2} = {2 ** 2}'  )
print( f'{2}^{3} = {2 ** 3}'  )
print( f'{2}^{4} = {2 ** 4}'  )
print( f'{6}^{4} = {6 ** 4}'  )

kelimas laipsniu
2^2 = 4
2^3 = 8
2^4 = 16
6^4 = 1296

In [45]:
suma = 0

kaina_1 = 5.4
kaina_2 = 4.2

suma = suma + kaina_1
suma = suma + kaina_2
print ( suma )

suma = 0
# tas pats kaip ^^^^
suma += kaina_1
suma += kaina_2
print ( suma )

sandauga = 1
sandauga *= kaina_1
sandauga *= kaina_2
print (f'sandauga: {sandauga}')
# -= , /= ,

9.600000000000001
9.600000000000001
sandauga: 22.680000000000003

In [46]:
skaicius = 4
skaicius **= 2
skaicius **= 2
print (skaicius)

256

In [47]:
int_1 = 5
int_2 = 10

print (int_1 + int_2)
print (int_1 - int_2)
print (int_1 * int_2)
print (int_1 / int_2)
print (int_1 % int_2)

15
-5
50
0.5
5

In [48]:
float_1 = 5.5
float_2 = 10.54

print (float_1 + float_2)
print (float_1 - float_2)
print (float_1 * float_2)
print (float_1 / float_2)
print (float_1 % float_2)

16.04
-5.039999999999999
57.97
0.5218216318785579
5.5

In [53]:
dist_sun = 150_000_000 # same as dist_sun = 150000000
dist_moon = 384_000

speed_per_hour = 150

print(f'Atstumas iki saules yra {dist_sun / dist_moon} kartu didesnis nei atstumas iki menulio ')
print(dist_sun / dist_moon)
day = speed_per_hour * 24
month = day * 30
year = month * 12
minutes = speed_per_hour/60
seconds = minutes/60

print(dist_moon/speed_per_hour)
print(dist_moon/day)
print(dist_moon/month)
print(dist_moon/year)
print(dist_moon/minutes)
print(dist_moon/seconds)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
390.625
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

In [52]:
year = 1996
year_passed = (2023 - year) * 365
print (year_passed)

9855

In [55]:
from datetime import date

d0 = date(1986, 4, 15)
d1 = date.today()
delta = d1 - d0
print(delta.days)
print()

13448
0:00:00.000001

# Boolean

In [62]:
bool_true = True
# bool_true = TRUE
print(bool_true)
print(type(bool_true) )
bool_true = bool(1)
print(bool_true)
bool_false = False
print(type(bool_false) )
print(bool_false)

print( int(bool_true) )
print( int(bool_false) )

True
<class 'bool'>
True
<class 'bool'>
False
1
0

In [67]:
print( bool( 1 ) )
print( bool( 2 ) )
print( bool( 0.0001 ) )
print( bool( -100 ) )
print( bool( 0 ) ) # False tik 0, visa kita True

True
True
True
True
False

In [74]:
print( 2 < 5 )
print( 10 < 5 )
print( 2 > 5 )
print( 10 > 5 )
print( 5 >= 5 )

print( "5 == 5" )
print( 5 == 5 )

print( "5 != 5" )
print( 5 != 5 )
print( "6 != 5" )
print( 6 != 5 )

True
False
False
True
True
5 == 5
True
5 != 5
False
6 != 5
True

In [78]:
text = 'Hello world'
bool_text = 'd' in text
print (bool_text)
print ('D' in text)
print (text.islower())
print (text.lower().islower())

True
False
False
True

In [81]:
print( bool('') ) # False tik kai tuscias
print( bool(' ') )
print( bool('adfghnahwnrejn') )

False
True
True

In [83]:
print ( not True )
print ( not not True )

False
True

In [85]:
print ('and')
print (20 > 10 and 5 > 1)
print (20 > 10 and 5 > 10)
print ('or')
print (20 > 10 or 5 > 1)
print (20 > 10 or 5 > 10)
print (2 > 10 or 5 > 10)

and
True
False
or
True
True
False

In [86]:
print (10 > 5)
print ('a' in 'auto')
test = bool(1)
print(test)
print(bool('oo'))
print( not False )

print (10 < 5)
print ('A' in 'auto')
test = bool(0)
print(test)
print(bool(''))
print( not True )

True
True
True
True
True
False
False
False
False
False

# List

In [87]:
cities = [ 'Vilnius', 'Kaunas', 'Klaipeda' ]

In [95]:
print (cities)
print (cities[0])
print (type(cities) )
print (type(cities[0]) )
print (cities[-1])
print (cities[1:])
print (cities[:2])

['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius
<class 'list'>
<class 'str'>
Klaipeda
['Kaunas', 'Klaipeda']
['Vilnius', 'Kaunas']

In [99]:
numbers = [ 15,654,769,238.4274 ,'5' ]
print (type( numbers[0] ) )
print (type( numbers[-2] ) )
print (type( numbers[-1] ) )

<class 'int'>
<class 'float'>
<class 'str'>

In [145]:
numbers = [ 154,44,33 ]
print(numbers)
print( numbers.append( 51 ) ) # don't print append function
print(numbers)

[154, 44, 33]
None
[154, 44, 33, 51]

In [146]:
numbers.append( 51 ) # prideda verte kiekviena karta
print(numbers)

[154, 44, 33, 51, 51]

In [147]:
numbers.count(51)

2

In [154]:
numbers = [ 154,44,33 ]
print('append')
numbers.append( 51 )
print(numbers)
numbers.append( [100, 100] )
print(numbers)
print(numbers[-1])
print(len(numbers) )

print('extend')
numbers.extend( [100, 100] )
print(numbers)
print(len(numbers) )
print('count')
print( numbers.count(100) ) # komandos veikia auksciausiame lygmenyje

append
[154, 44, 33, 51]
[154, 44, 33, 51, [100, 100]]
[100, 100]
5
extend
[154, 44, 33, 51, [100, 100], 100, 100]
7
count
2

In [155]:
numbers.index(100) # grazina indeksa

5

In [158]:
numbers.insert(1 , 500)
print (numbers)

[154, 500, 500, 500, 44, 33, 51, [100, 100], 100, 100]

In [161]:
print(numbers)
print(numbers.pop())
print(numbers)

[154, 500, 500, 500, 44, 33, 51, [100, 100]]
[100, 100]
[154, 500, 500, 500, 44, 33, 51]

In [164]:
print(numbers)
print(numbers.remove(500) )
print(numbers)

[154, 500, 500, 44, 33, 51]
None
[154, 500, 44, 33, 51]

In [166]:
print(numbers)
print(numbers.remove(500) ) # klaida, jei neegzistuoja
print(numbers)

[154, 44, 33, 51]

ValueError: list.remove(x): x not in list

In [181]:
nested_list = [654, [[[48, [['65']]], 57]]]
print (nested_list)
print (len(nested_list) )
print (nested_list[1])
# print (len(nested_list[1] ))
print (nested_list[1][0] )
# print (len(nested_list[1][0] ))
print (nested_list[1][0][0] )
print (nested_list[1][0][0][1] )
print (nested_list[1][0][0][1][0] )
print (nested_list[1][0][0][1][0][0] )

# list_1 = nested_list[1]
# list_2 = list_1[0]
# list_3 = list_2[0]
# print(list_3)

[654, [[[48, [['65']]], 57]]]
2
[[[48, [['65']]], 57]]
[[48, [['65']]], 57]
[48, [['65']]]
[['65']]
['65']
65
65

In [182]:
print (numbers)

[154, 44, 33, 51]

In [210]:
numbers.reverse()
print (numbers)

[154, 44, 33, 51]

In [212]:
# numbers[start:end:step]
numbers[::-1]

[51, 33, 44, 154]

In [217]:
numbers = [51, 33, 44, 154]
numbers.sort()
print (numbers)
numbers.sort(reverse=True)
print (numbers)

[33, 44, 51, 154]
[154, 51, 44, 33]

In [215]:
print (numbers)

[154, 51, 44, 33]

In [220]:
numbers = [51, 33, 44, 154]
print ( sorted( numbers ) )
print (numbers)
print ( sorted( numbers, reverse=True ) )
print (numbers)

[33, 44, 51, 154]
[51, 33, 44, 154]
[154, 51, 44, 33]
[51, 33, 44, 154]

In [221]:
print (cities)

['Vilnius', 'Kaunas', 'Klaipeda']

In [222]:
cities[2] = 'Siauliai'
print(cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [224]:
print ("Vilnius" in cities)
print ("Klaipeda" in cities)

True
False

In [226]:
print( bool( [] ) ) # False tik kai tuščias
print( bool( [0] ) )

False
True

## operators with list

In [228]:
combined = [1,2,3] + ['a', 'b', 'c']
print (combined)

[1, 2, 3, 'a', 'b', 'c']

In [229]:
combined = [1,2,3] - ['a', 'b', 'c'] # klaida

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [230]:
print ( combined * 10 )

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [232]:
print( type( [] ) )
print( type( () ) )

<class 'list'>
<class 'tuple'>